{%extends 'base.html'%}

{%block style_css%}
<link rel="stylesheet" href="{{ url_for('reservation_static', path='css/reservation.css') }}">
<link rel="stylesheet" href="{{ url_for('reservation_static', path='css/table.css') }}">
{%endblock%}

{%block content%}
<main class="reservations-body">
    <h1 class="reservations-body__title">Mis reservaciones</h1>
    <table class="table">
        <thead class="table__header">
            <tr>
                <th class="table__header-cell">Mesa</th>
                <th class="table__header-cell">Capacidad</th>
                <th class="table__header-cell">Estado</th>
                <th class="table__header-cell">Fecha y Hora</th>
            </tr>
        </thead>
        <tbody class="table__body" id="my-reservations">
            <!-- Las filas se insertarán aquí mediante JavaScript -->
        </tbody>
    </table>
</main>
{%endblock%}

{%block script_js%}
<script src="{{ url_for('static', path='/js/fetch/get/get-my-reservations.js') }}"></script>
{%endblock%}