{%extends 'base.html'%}

{%block style_css%}
<link rel="stylesheet" href="{{ url_for('reservation_static', path='css/reservation.css') }}">
{%endblock%}

{%block content%}
<main class="reservations_body">
    <h1>Mis reservaciones</h1>
    <table class="table">
        <thead class="table__header">
            <tr>
                <th class="table__header-cell">Mesa</th>
                <th class="table__header-cell">Capacidad</th>
                <th class="table__header-cell">Estado</th>
                <th class="table__header-cell">Fecha y Hora</th>
            </tr>
        </thead>
        <tbody class="table__body" id="tables">
            {% for reservation in reservations %}
                <tr class="table__row">
                    <td class="table__cell">{{ reservation.table_id }}</td>
                    <td class="table__cell">{{ reservation.table.seats }}</td>
                    <td class="table__cell">{{ reservation.table.status.value }}</td>
                    <td class="table__cell">{{ reservation.date_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{%endblock%}

{%block script_js%}
{%endblock%}