{%extends 'base.html'%}

{%block title%}Reservaciones{%endblock%}

{%block style_css%}
<link rel="stylesheet" href="{{ url_for('reservation_static', path='css/reservation.css') }}">
<link rel="stylesheet" href="{{ url_for('reservation_static', path='css/table.css') }}">
{%endblock%}

{%block content%}
<main class="reservations-body">
    <form class="form" id="reservation-form">
        <div class="form__group">
            <label class="form__label" for="quantity">Cantidad de personas:</label>
            <input class="form__input" type="number" id="quantity" name="quantity" required>
        </div>
        
        <div class="form__group">
            <label class="form__label" for="table">Mesa:</label>
            <select class="form__select" id="table" name="table_id">

            </select>
        </div>
        
        <div class="form__group">
            <label class="form__label" for="fecha">Fecha:</label>
            <input class="form__input" type="date" id="fecha" name="date_time" required>

            <label class="form__label" for="hora">Hora:</label>
            <input class="form__input" type="time" id="hora" name="date_time" required>
        </div>

        <button class="form__submit-button" type="submit">Crear</button>
    </form>
</main>
{%endblock%}

{%block script_js%}
<script src="{{ url_for('reservation_static', path='js/update_tables_for_quantity.js') }}"></script>
<script src="{{ url_for('reservation_static', path='js/send_data.js') }}"></script>
{%endblock%}