{%extends 'base.html'%}

{%block title%}Reservaciones{%endblock%}

{%block style_css%}
<link rel="stylesheet" href="{{ url_for('reservation_static', path='css/reservation.css') }}">
<link rel="stylesheet" href="{{ url_for('reservation_static', path='css/table.css') }}">
{%endblock%}

{%block content%}
<main class="reservations-body">
    {%if user(request).role.value == "gerente"%}
    <div class="reservations-body__button-container">
        <a class="button__link" href="/mesas">
            <button class="button-container__button">Ver mesas</button>
        </a>
    </div>
    {%endif%}
    <div class="reservations-body__button-container">
        <a class="button__link" href="/mis-reservaciones">
            <button class="button-container__button">Mis reservaciones
            </button>
        </a>
    </div>
    <h1 class="reservations-body__title">Nueva Reservacion</h1>
    <form class="form" id="reservation-form">
        <div class="form__group">
            <label class="form__label" for="quantity">Cantidad de personas:</label>
            <input class="form__input" type="number" id="quantity" name="quantity" required>
        </div>
        
        <div class="form__group">
            <label class="form__label" for="table">Mesa:</label>
            <select class="form__select" id="table" name="table_id">

            </select>
        </div>
        
        <div class="form__group">
            <label class="form__label" for="fecha">Fecha:</label>
            <input class="form__input" type="date" id="fecha" name="date" required>

            <label class="form__label" for="hora">Hora:</label>
            <input class="form__input" type="time" id="hora" name="time" required>
        </div>

        <button class="form__submit-button" type="submit">Crear</button>
    </form>
</main>
{%endblock%}

{%block script_js%}
<script src="{{ url_for('static', path='/js/fetch/get/get-tables-by-quantity.js') }}"></script>
<script src="{{ url_for('static', path='/js/fetch/post/post-reservation.js') }}"></script>
{%endblock%}