<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punto Parrillada RD - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/login_popover.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/popover.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/profile_popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/form.css') }}">
    {%block style_css%}{%endblock%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    {%include 'components/layouts/navbar.html'%}
    
    {% block content %}{% endblock %}

    <footer class="footer">
        <p class="footer_copyright">&copy; 2024 Punto Parrillada RD. Todos los derechos reservados.</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="{{ url_for('static', path='js/interceptor.js') }}"></script>
    <script src="{{ url_for('static', path='js/login_popover.js') }}"></script>
    <script src="{{ url_for('static', path='js/register_popover.js') }}"></script>
    <script src="{{ url_for('static', path='js/login.js') }}"></script>
    <script src="{{ url_for('static', path='js/profile_popup.js') }}"></script>
    <script src="{{ url_for('static', path='js/logout.js') }}"></script>

    {%block script_js%}{%endblock%}
</body>
</html>
